.user-menu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-menu-trigger {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.user-menu-trigger:hover {
    color: #646cff;
}

.user-icon{
    font-size: 20px;
}

.user-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #222;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1001;
    min-width: 160px;
}

.dropdown-item {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    gap: 8px;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
    background-color: #444;
    color: #646cff;
}

.dropdown-item .logout {
    color: #ff4d4d;
    border-top: 1px solid #555;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}